body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:auto;
  }
  


  html {
    box-sizing: border-box;
    background-color: rgb (255, 255, 255)  ;


  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-image: url(https://th.bing.com/th/id/R.95a896fb2a7cb8d85a77f8c90104d6cc?rik=hf%2btTustrt%2b2GA&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f53%2f72%2fRaJ6Ap.jpg&ehk=vyBX6qxWP6lmsADmzUTQVEyLcZna55a8hzKedvGLxUU%3d&risl=&pid=ImgRaw&r=0);
    
  }

  * {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .p{
    font-family: cursive;
    font-size: 30px;
    color:goldenrod;
  }
  .p2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .h4{
    font-style: normal italic;
  }
  
  .container{

    height:500px;
    width: auto;
    display: flex;
    box-shadow: 10px 10px 18px 18px #aaaaaa, 7px 8px 4px #ffffff;
    border-radius: 5px;
    margin-left: 10px;
    text-align:center;
    background-color: rgb (255, 255, 255)  ;

  }

  
  .about_details span{

    color:red;
    text-align: center;
    font-family:cursive;
    font-style: italic bold;
    justify-content: flex-start;
    font-size: 50px;

  }
  .about_details h2{
    font-family:cursive;
    margin-bottom: 150px;
    letter-spacing: 3px;
    font-style: bold;
    justify-content: flex-start;
    font-size: 40px;
    text-align:center;
  }

 .about_details p{

    color: black;
    font-style:oblique bold;
    justify-content:flex-start;
    font-size:30px;
    text-align: center;
  }

  .btn{
    margin-top: 50px;
    margin-left:50px;
    padding:9px 20px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 10px;
    color: #373737;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    font-size: 20px;
   }
  
  .btn:hover{

    background-color: red;
    }


  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 10px 10px;
  }
  
  .card {
    border: 2px solid rgba(0,0,0,.125);
    margin: 10px;
     border-radius: 0.25rem;
     text-align:center;
     font-family:Verdana, Geneva, Tahoma, sans-serif ;
     height: 550px;
     width: 360px; 
     background-color: #f1f1f1;
     flex-direction: column;
     padding: 5px;
     box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important;
     
     
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-top: 100px;
  }
  
  .button:hover {
    background-color: #555;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  img {
    box-sizing: content-box;
    border-radius: 50%;
    margin-top: auto;
  }
 

  .h{
font-size: 700%;
font-style:bold ;
font-family:Verdana, Geneva, Tahoma, sans-serif ;
text-align: center;
margin-top: 100%;
font-weight: 400%;
color:grey;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
}

.fa:hover {
  opacity: 0.7;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: red;
  color: white;
}
.fa-github {
  background:black;
  color: white;
}


.footer-part {
  /* background-color: black; */
  color: white;
  height: 600px;
  width: 100%;
  margin-top: 100px;

}

.footer-part {
  background-color: #6b6b47;
  display: flex;
  justify-content: space-around;

}

.content1 {
  background-color: transparent;
  width: 200px;
  height: 430px;
  margin-top: 100px;
}

.content1 p {
  font-size: 20px;
}

.icons {

  width: 30%;
  margin-bottom: 50%;
  margin-top: 30px;
  font-size: 30px;
  word-spacing: 30px;

}

.icons i {
  cursor: pointer;
}

.icon1:hover {
  color: blue;
  transition: 0.4s;
}

.icon2:hover {
  color: blue;
  transition: 0.4s;
}

.icon3:hover {
  color: rgb(2, 102, 2);
  transition: 0.4s;
}

.icon4:hover {
  /* color: black;
  transition: 0.4s; */
}

.icon5:hover {
  color: rgb(185, 7, 108);
  transition: 0.4s;
}


.logo1 {
  margin-top: 20px;
}

.icons {
  width: 290px;
}

.head2 {
  /* margin-top: 30px; */
  font-weight: 600;
}

.app {
  margin-top: 30px;
  width: 180px;
  height: 50px;
  border-radius: 5px;
}

.app img {
  width: 150px;
  cursor: pointer;

}

.app i {
  color: white;
  font-size: 35px;
  margin-top: 8px;
  margin-left: 15px;
}

.app p {
  font-size: 12px;
  margin-left: 80px;
  /* margin-top: -50px; */
  /* width: 50px; */
  margin-top: -20px;
}

.customer-para {
  margin-bottom: 20px;

}

.customer {
  height: 65px;
  width: 69px;
  background-color: transparent;
  /* background-image: url(../images/customer-service.png); */
  background-size: cover;
  /* background-color: red; */
  margin-top: 40px;
  margin-left: 80rem;
  /* display: flex; */
  /* position: fixed; */
  /* display: block; */
}

.customer img {
  height: 70px;
}

.services {
  width: 100%;
  height: 450px;
  /* margin-left: 150px; */
  /* border-radius: 15px; */
  /* background-color: red; */
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.service {
  /* background-color: grey; */
  width: 235px;
  height: 340px;
  margin: 10px;
  border-radius: 10%;
  margin-top: 100px;
  text-align: center;


}
.profile{
  margin-top: 20px;
}

/* .cutomer-para {
  margin-bottom: 30px;
} */
.reviewpara {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.common customer1 {
  padding-bottom: 15px;
}

.review-page h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  margin: 15px 0 15px 0;
}

.review-page p {
  font-size: 20px;
}

.cutomer-para {
  background-color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 25px
}

/* .customer-review{
 
  background-color: #ffdf29;
}  */

.customer-review {
  background-color: white;
  height: 400px;
  display: flex;
  justify-content: space-around;
}

.common {
  background-color: #f5f5f0;
  box-sizing: border-box;
  padding: 5px;

  border-radius: 15px;
  margin: 10px;
  width: 300px;
  height: 400px;
  height: 330px;

}

.common:hover {
  box-shadow: 0 1px 1px 2px #ccccb3;
  transition: 0.3s;
}

.customer-review img {
  border-radius: 50%;
  width: 120px;
  margin-left: 100px;

}

/* .customer1 img {
  height: 110px;
  margin-top: 5px;
} */

/* .common .rating1 {
  margin-top: -10px;
  width: 130px;
  height: 62px;
  /* margin-left: 5px;  */
*/

/* .common .rating1{
  height: 120px;
  width: 63px;
}  */
.customer-review p {
  font-size: 18px;
  margin-top: 10px;

} 

.customer-review h2 {
  text-align: center;
}

/* .profile-1{
  margi
} */

@media screen and (max-width:600px) {
  .collection {
      display: flex;
      flex-wrap: wrap;
      margin: 10px;
  }

  .collection p {
      text-align: center;
  }

  .customer-review {
      display: flex;
      flex-wrap: wrap;
  }

  .footer-part {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      font-size: 20px;
      margin-top: 400px;
  }

  .bg-image {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      text-align: center;
      color: red;
  }

  .navbar {
      display: flex;
      width: 100%;
      /* display: block; */
      /* flex-direction: column; */
      /* flex-wrap: wrap; */
  }

  .heading {
      margin-left: 50px;
      width: 400px;
      text-align: center;
  }